body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-weight: 400;
}
.title {
  padding: 10px;
  font-size: 18px;
}

.componentsContainer {
  padding: 10px;
}
.component-box-item {
  padding: 10px 0x;
}
